<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Suggestions</string>
			<key>FooterText</key>
			<string>If you select &quot;full&quot; suggestions will check the current row, column and square. Selecting &quot;square&quot; onyl checks the current square. &quot;none&quot; will disable suggestions</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Suggestion Strength</string>
			<key>Key</key>
			<string>suggestionStrength</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Square</string>
				<string>Full</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Mistakes</string>
			<key>FooterText</key>
			<string>Enabling this will allow you to input wrong guesses</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow mistakes</string>
			<key>Key</key>
			<string>allowMistakes</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
